<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Users List</title>
</head>
<style>
    table, th, td {
        border: 1px solid;
        text-align: center;
    }
    th {
        font-family: 'helvetica neue', helvetica, arial, sans-serif;
        padding: 5px;
    }
    td {
        font-family: 'helvetica neue', helvetica, arial, sans-serif;
        padding: 5px;
    }
    table {
        width: 100%
    }

    .update_button {
        background-color: #4CAF50; /* Green */
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
    }

    .block_button {
        background-color: #f44336; /* Green */
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
    }
</style>
<body>
    <table>
        <tbody>
            <tr>
                <th><h2>#</h2></th>
                <th><h2>UserID</h2></th>
                <th><h2>Name</h2></th>
                <th><h2>Email</h2></th>
                <th><h2>Age</h2></th>
                <th><h2>Gender</h2></th>
                <th><h2>Level</h2></th>
                <th><h2>XP</h2></th>
                <th><h2>Admin</h2></th>
                <th><h2>Blocked</h2></th>
            </tr>
            {{#each users}}
            <tr>
                <td>{{@index}}</td>
                <td>{{this.user_id}}</td>
                <td>{{this.name}}</td>
                <td>{{this.email_id}}</td>
                <td>{{this.age}}</td>
                <td>{{this.gender}}</td>
                <td>{{this.level}}</td>
                <td>{{this.xp}}</td>
                <td>{{this.is_admin}}</td>
                <td>{{this.is_blocked}}</td>
                <td><form method="post" action="/admin/update-user-profile">
                    <input name="user_id"  type="hidden" value="{{this.user_id}}">
                    <button class="update_button" type="submit">Update</button>
                </form></td>
                {{#ifCond this.is_admin}}
                {{else}}
                    {{#ifCond this.is_blocked}}
                        <td><form method="post" action="/admin/update-user">
                            <input name="user_id"  type="hidden" value="{{this.user_id}}">
                            <input name="is_blocked"  type="hidden" value="0">
                            <button class="block_button" type="submit">Unblock</button>
                        </form></td>
                    {{else}}
                        <td><form method="post" action="/admin/update-user">
                            <input name="user_id"  type="hidden" value="{{this.user_id}}">
                            <input name="is_blocked"  type="hidden" value="1">
                            <button class="block_button" type="submit">Block</button>
                        </form></td>
                    {{/ifCond}}
                {{/ifCond}}
            </tr>
            {{/each}}
        </tbody>
    </table>
</body>
<script>
    
</script>
</html>